<ion-header>
      <ion-back-button slot="fixed"></ion-back-button>
</ion-header>

<ion-content>
  <div id="tratamientosHome" class="ion-text-center">
    <img src="/assets/images/tratamientos.jpg" id="tratamientosImg">
    <div id="tratamientosContainer">
      <div id="title">
        <h1>NUESTROS TRATAMIENTOS</h1>

      </div>
      <div id="options">
        <ion-button shape="round"  id="btn">BOTOX</ion-button>
        <ion-button shape="round"  id="btn">PEELING</ion-button>
        <ion-button shape="round"  id="btn">DEPILACIÓN LÁSER</ion-button>
        <ion-button shape="round"  id="btn">MASOTERAPIA</ion-button>
        <ion-button shape="round"  id="btn">RADIOFRECUENCIA</ion-button>
        <ion-button shape="round"  id="btn">LIPOLÁSER</ion-button>
        <ion-button shape="round"  id="btn">CARBOXITERAPIA</ion-button>
      </div>
    </div>
  </div>
</ion-content>

