<ion-content>
  <div id="logo" class="ion-text-center" [style]="{ 'display': closeLogo ? 'block' : 'none' }">
    <img src="/assets/images/logo.png" id="logoImg">
  </div>
  <ion-grid>
    <ion-row>
      <ion-col >
          <img src="/assets/images/fondo2.jpg" id="homeImg" alt="" />
          <div id="container">
            <h1>A.M Estética</h1>
            <p>
              ¡Descubre la belleza de una piel saludable con nuestra aplicación
              de cuidado de la piel!
            </p>
          </div>

          <div id="container2">
            <ion-button
              shape="round"
              size="large"
              id="btn-inpar"
              (click)="tratamientos()"
              >Tratamientos</ion-button
            >
            <ion-button shape="round" size="large" id="btn-par" (click)="turnos()"
              >Turnos</ion-button
            >
            <ion-button
              shape="round"
              size="large"
              id="btn-inpar"
              (click)="aboutme()"
              >Nosotros</ion-button
            >
            <ion-button shape="round" size="large" id="btn-par"
              >Contacto</ion-button
            >
          </div>
          <div class="consejosCol"></div>
          <div *ngIf="consejoActual" class="consejos">
            <ion-card class="ion-text-center">
              <h6>{{consejoActual.titulo}}</h6>
              <p>{{consejoActual.descripcion}}</p>
            </ion-card>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
