
#container {
  text-align: center;
  width: 100%;
  padding: 1px;
  height: fit-content;
  border-radius: 20px;
  margin-bottom: 10px;
  align-self: end;
  background-color: #f3c7e1c7;
  color: rgb(112 112 112);
  font-family: "Bodoni MT";
}

#container h1 {
  font-size: 50px;
  color: rgb(255 49 154);
  font-weight: bolder;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 20px;
}

#container2 {
  text-align: center;
  height: 50vh;
  align-items: center;
  width: 80%;
  display: grid;
  margin-inline: auto;
  padding: 10px;
}

ion-button {
  --background: #f3c7e1c7;
  color: rgb(255 49 154);
  width: 100%;
  font-weight: bolder;
  --box-shadow: 0 2px;
}

ion-grid {
  --ion-grid-padding: none;
  max-width: 388px;
}

ion-col {
  --ion-grid-padding: none;
  display: grid;
  position: relative;
  height: 100vh;
}

ion-row {
  display: content;
}

#homeImg {
  height: 100vh;
  width: 100vh;
  position: fixed;
  margin-inline: auto;
  max-width: 480px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

* {
  font-family: none;
}

.consejos {
  color: black;
  width: 100%;
  height: 20vh;
  position: absolute;
  bottom: 5%;
}

.consejosCol {
  height: 18vh;
}

ion-card {
  --background: #f3c7e1c7;
  box-shadow: 0 0 10px 1px white;
  height: max-content;
  border-radius: 20px;
}

ion-card p {
  padding-inline: 15px;
  color: rgb(112 112 112);
}

ion-card h6 {
  color: rgb(255 49 154);
  font-weight: bolder;
  padding-inline: 10px ;
}

#logo {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: block;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
  z-index: 3;
}

#logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}